.product__discount-sale {
    color: red;
}
.product__basket {
    background-color: rgb(69, 140, 221);
    color: black;
}
.profitably__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.recommendations__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.about__title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.about__description {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;   
}
