@media only screen and (max-width: 600px) {
    /* body {
        transform: scale(0.9);
    }
    .container {
        flex-direction: column;
    } */
    .about__image {
        height: auto;
    }
    .header__search {
        margin-left: 40px;
        margin-right: auto;
        height: 50px;
    }
    .search__field {
        width: 200px;
        height: 30px;
        margin-top: 5px;
        margin-left: 5px;
        padding: 17px 40px 17px 20px;
        font-size: 16px;
    }
    .search__submit {
        max-width: 30px;
        margin-top: 0;
    }
    .header__item-link {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        min-width: 100px;
    }
    .about__description {
        font-size: 30px; 
    }
    .footer__item-link {
        font-size: 20px;
    }
    .footer__part {
        margin-left: 10px;
        margin-right: 10px;
        width: 200px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header__button-icon{
        max-width: 30px;
    }
    .header__button-text{
        font-size: 12px;
    }

}